.header{
    display: grid;
    grid-template-columns: 3vw auto;

}
h1{
   color: #e66363;
   text-align: center;
}

h2 {
   color: #e66363;
   text-align: center;

}

#logo{
   width: 10vw;
   align-self: stretch;
   
}

.grid{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto auto auto auto auto;
   grid-column-gap: 3vh;
   grid-row-gap: 5vh;
   margin-top: 5vh;
   grid-row-end: span 2;


   
}
.latest_updates{
   outline-style: solid;
   outline-color: aquamarine;
  
}

 
.header_options{
    background-color: rgb(127, 174, 245);
}
.list{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
list-style: none;
justify-content: center;
align-items: center;
display: flex;
text-align:center;
}
li{
    margin: 0px;
    color: white;
    text-decoration: none;
    
}
a{
    color: rgb(244, 249, 250);
    margin: 120px;
}

.notify{
  
   border: aquamarine;
   outline-color: aquamarine;
   outline-style: solid;
   grid-column: 2;
   grid-row: 1/5;
}

.helpdesk{
   border: #e66363;
   outline-color: blue;
   outline-style: solid;
}
.certificate_attach{
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: aquamarine;
   grid-row: 6/6;
   grid-column: 2/2;
  
}
.student_application{
    grid-column: 3/3;
    grid-row: 2/10;
    border: aqua;
    outline-color: aquamarine;
    outline-style: solid;
}


#inst_home_page_text{
    color: aliceblue;
}
#log_out{
    background-color: #6a6c6e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 10%;
  grid-column: auto/auto;
  grid-row: auto/auto;
}
.reg_verify{
    justify-content: center;
}